<div class="container">
  <div>
    <h1>Table</h1>
    <app-material-table></app-material-table>
  </div>

  <div>
    <h1>Table with Pagination + Sort + Footer</h1>
    <app-material-table-with-pagination></app-material-table-with-pagination>
  </div>

  <div>
    <h1>Table with expandable Rows</h1>
    <app-material-table-with-expandable-rows></app-material-table-with-expandable-rows>
  </div>

  <div>
    <h1>Progress Bar / Spinner</h1>
    <app-material-progress-bar></app-material-progress-bar>
  </div>

  <div>
    <h1>Cards</h1>
    <app-material-cards></app-material-cards>
  </div>

  <div>
    <h1>Dialog</h1>
    <app-material-dialog></app-material-dialog>
  </div>

  <div>
    <h1>Form</h1>
    <app-material-form></app-material-form>
  </div>

  <div>
    <h1>Divider</h1>
    <mat-divider></mat-divider>
  </div>

  <div>
    <h1>Toolbar</h1>
    <app-material-toolbar></app-material-toolbar>
  </div>

  <div>
    <h1>Datepicker</h1>
    <app-material-datepicker></app-material-datepicker>
  </div>
</div>
