<form class="container" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Feld 1</mat-label>
    <input matInput formControlName="field1"/>
    @if (formGroup.get('field1')?.hasError('required')) {
      <mat-error>Field 1 is required.</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Feld 2</mat-label>
    <textarea matInput formControlName="field2"></textarea>
    @if (formGroup.get('field2')?.hasError('required')) {
      <mat-error>Field 2 is required.</mat-error>
    }
    @if (formGroup.get('field2')?.hasError('email')) {
      <mat-error>Field 2 is not an email.</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="align-mid">
    <mat-label>Telephone</mat-label>
    <span matTextPrefix>+1</span>
    <input type="tel" matInput placeholder="555-555-1234">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose an option</mat-label>
    <mat-select>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</form>
